Package: com.icraze.boomfullscreen
Name: Boom Fullscreen Patch
Version: 1.1
Architecture: iphoneos-arm
Description: Makes Boom fit the devices screen properly on newer devices
Maintainer: iCraze
Author: iCraze
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
